#navigation-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  background: rgba(255,255,255,0.4);
}

.form {
  margin-top:100px;
margin-left: 70px;
margin-right: 70px;
}

.navbar-light .navbar-nav .nav-link{
  color: #efcd14; important!
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  padding:30px;
}

.nav-item.text{
  padding-top: 50px;
}

.text-center {padding-top: -10px; }

.flex-container {
  display: flex;
  flex-direction: row;
  align-content:flex-start;
  justify-content: flex-end;
  text-decoration: none;
  border-radius: 100px;
  padding-right: 40px;
  padding-bottom: 0px;
  margin: 0 auto;
}

.fa {
  padding-top: 100px;
  padding-bottom: 0px;
  margin-left: 15px;
  font-size: 40px;
  width: 30px;
    }
.fa:hover {
  opacity: 0.7;
          }
.fa-twitter {
  color: light-yellow;
            }
.fa-instagram {
  color: pink;
              }
