.flex-container {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  text-decoration: none;
  border-radius: 50%
}
.flex-container {
  padding-right: 40px;
  padding-bottom: 0px;
}
.fa {
  padding-top: 100px;
  padding-bottom: 0px;
  margin-left: 15px;
  font-size: 40px;
  width: 30px;
    }
.fa:hover {
  opacity: 0.7;
          }
.fa-twitter {
  color: light-yellow;
            }
.fa-instagram {
  color: pink;
              }
#navigation-menu {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 0px;
padding-right: 350px;
overflow: hidden;
background: rgba(255,255,255,0.4);
                 }
.navbar-light .navbar-nav .nav-link{
color: #F0D233;
font-weight: bold;
font-size: 20px;
font-family: sans-serif;
                                  }
.navbar-nav {
margin: 0 auto;
            }
.nav-item {
padding:30px;
          }
.nav-item.text{
padding-top: 50px;
              }
.text-center {padding-top: -10px; }

#StPdd {
  position: absolute;
  top: 230px;
  right: 300px;
  width: 200px;
  height: 200px;
  color: orange;
}
.dropdown-content a {
  color: black;
  font-size: 30px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #grey;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #orange;}
h1 {
  text-align:center;
  padding-top: 50px;
}
div.a {
  word-wrap: break-word;
}
h3 {
  text-align:center;
  padding-top: 35px;
  padding-left: 180px;
  padding-right: 180px;
  font-size: 20px;
}
p {
  text-align:center;
  padding-top: 40px;
  padding-bottom: 10px;
  }
ul {
  margin: 0 auto;
  width: 500px;
   }
p.fred {
  line-height: 2;
}
#FindYourThrone {
  text-align:center;
  padding-top: 10px;
}
div.absolute {
  position: absolute;
  top: 400px;
  right: 60;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}
.card-deck {
  width: 1200px;
}
.card-deck {
  padding-left: 200px;
  padding-bottom: 100px;
}
.card-deck {
  justify-content: space-around;
}
