.flex-container {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  text-decoration: none;
  border-radius: 50%
}
.flex-container {
  padding-right: 40px;
  padding-bottom: 0px;
}
.fa {
  padding-top: 100px;
  padding-bottom: 0px;
  margin-left: 15px;
  font-size: 40px;
  width: 30px;
    }
.fa:hover {
  opacity: 0.7;
          }
.fa-twitter {
  color: light-yellow;
            }
.fa-instagram {
  color: pink;
              }
